
$ubuntu: "Ubuntu", sans-serif;
$poppins: "Poppins", sans-serif;

$regular: 400;
$bold: 700;

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-samll: 12px;